@charset "UTF-8";

/* mediaquery */

/* 화면너비 0-1024px */
@media (max-width: 1024px){
    
    /* nav */
    nav { width: 35px;}
    nav ul { margin-top: 55px;}
    
    /* section1 intro  */
    #section1 span {font-size: 3vw;}
    #section1 span.intro_RTB {bottom: -7%; right: -23%;}
    #section1 span.intro_LTB {top: -8%; left: -23%;}

    /* section2 about me */
    #section2 {margin-bottom: 400vh;}
    #section2 .about_title {top: 25%; left: 3.5%; font-size: 31vh;}
    #section2 .about_wrap .about_item:nth-child(1) .about_img {width: 75%; height: 61%; top: 10%; left: 16%;}
    #section2 .about_wrap .about_item:nth-child(2) .about_img {width: 70%; height: 60%; bottom: 11%;}
    #section2 .about_wrap .about_item:nth-child(3) .about_img {width: 70%; height: 75%; right: -1%;}
    #section2 .about_wrap .about_item .about_desc {font-size: 1.7rem;}
    #section2 .about_item:nth-child(2) .about_desc {left: -20%;}
    #section2 .about_item:nth-child(3) .about_desc {bottom: 8%; left: -27%;}
    #section2 .skill_title {font-size: 3.5rem;}
    #section2 .skill li p {margin-top: -6%;}
    #section2 .skill li:last-child p {margin-top: -2%;}

    /* section3 work */
    #section3 .work_title {top: 63%; left: -114%; height: 7%; line-height: 107%; font-size: 20vh;}
    #section3 .work_wrap { width: 84%; padding: 1%;}
    #section3 .work_wrap .work_item {height: 25%; align-items: flex-end;}
    #section3 .work_item .work_imgwrap { height: 77%;}
    #section3 .work_item .work_descwrap .work_subtitle {font-size: 2.3rem;}
    #section3 .work_item:nth-child(3) .work_descwrap .work_subtitle {margin-top: 8%;}
    #section3 .work_item .work_descwrap .work_subtitle span {font-size: 11rem;}
    #section3 .work_item .work_descwrap .work_desc {font-size: 1.2rem; margin-bottom: 5%;}
    #section3 .work_item .work_descwrap .view_site {font-size: 1.5rem;}

    /* section4 more */
    #section4 {margin-bottom: 550vh;}
    #section4 .more_wrap {margin-left: 10%;}
    #section4 .more_arrow { top: 4.3%; left: 4%; width: 7%; height: 11.5%;}
    #section4 .more_item .more_descwrap .more_subtitle {top: 12%; right: 8%;}
    #section4 .more_item .more_descwrap .more_desc {top: 54%; right: -41%; font-size: 1.4vw;}
    
    #section4 .more_item:nth-child(2) .more_descwrap .more_desc { top: 57%; right: -45%;}
    #section4 .more_item:nth-child(3) .more_descwrap .more_desc { top: 58%; right: -46%;}
    #section4 .more_item:nth-child(4) .more_descwrap .more_desc { top: 58%; right: -47%;}
    #section4 .more_item:nth-child(5) .more_descwrap .more_desc { top: 50%; right: -35%;}
    #section4 .more_item:nth-child(6) .more_descwrap .more_desc { top: 51%; right: -36%;}
    #section4 .more_item:nth-child(7) .more_descwrap .more_desc { top: 50%; right: -35%;}
    #section4 .more_item:nth-child(8) .more_descwrap .more_desc { top: 50%; right: -35%;}
    #section4 .more_item:nth-child(9) .more_descwrap .more_desc { top: 50%; right: -35%;}
    #section4 .more_item:nth-child(10) .more_descwrap .more_desc { top: 50%; right: -35%;}
    
    #section4 .more_item .more_imgwrap {width: 80%; height: 75%;}

    /* section5 contant */
    .contact_wrap {top: 25%;}

}

/* 화면너비 0-768px */
@media (max-width: 768px){
    /* nav */
    nav { width: 35px;}
    nav ul { margin-top: 55px;}

    /* section1 intro  */
    #section1 span.intro_TRL {top: -81%; }
    #section1 span.intro_RTB {bottom: -23%; right: -23%;}
    #section1 span.intro_BLR {bottom: -82%;}
    #section1 span.intro_LTB {top: -23%;}
}

/* 화면너비 0-600px */
@media (max-width: 600px){}

/* 화면너비 0-480px */
@media (max-width: 480px){}

/* 화면너비 0-320px */
@media (max-width: 320px){}