@charset "UTF-8";

/* mediaquery */

/* 화면너비 0-1024px */
@media (max-width: 1024px){
    
    /* nav */
    nav { width: 35px;}
    nav ul { margin-top: 55px;}
    
    /* section1 intro  */
    #section1 span {font-size: 3vw;}
    #section1 span.intro_RTB {bottom: -7%; right: -23%;}
    #section1 span.intro_LTB {top: -8%; left: -23%;}

    /* section2 about me */
    #section2 {margin-bottom: 400vh;}
    #section2 .about_title {top: 25%; left: 3.5%;}
    #section2 .about_wrap .about_item:nth-child(1) .about_img {width: 75%; height: 61%; top: 10%; left: 16%;}
    #section2 .about_wrap .about_item:nth-child(2) .about_img {width: 70%; height: 60%; bottom: 11%;}
    #section2 .about_wrap .about_item:nth-child(3) .about_img {width: 70%; height: 75%; right: -1%;}
    #section2 .about_wrap .about_item .about_desc {font-size: 1.7rem;}
    #section2 .about_item:nth-child(2) .about_desc {left: -20%;}
    #section2 .about_item:nth-child(3) .about_desc {bottom: 8%; left: -27%;}
    #section2 .skill_title {font-size: 3.5rem;}
    #section2 .skill li p {margin-top: -6%;}
    #section2 .skill li:last-child p {margin-top: -2%;}

    /* section3 work */
    #section3 .work_title {left: 3.5%;}
    #section3 .work_wrap { width: 84%; padding: 1%;}
    #section3 .work_wrap .work_item {height: 25%; align-items: flex-end;}
    #section3 .work_item .work_imgwrap { height: 77%;}
    #section3 .work_item .work_descwrap .work_subtitle {font-size: 3.6vw;}
    #section3 .work_item:nth-child(3) .work_descwrap .work_subtitle {margin-top: 8%;}
    #section3 .work_item .work_descwrap .work_subtitle span {font-size: 17vw;}
    #section3 .work_item .work_descwrap .work_desc {font-size: 2vw; margin-bottom: 5%;}
    #section3 .work_item .work_descwrap .view_site {font-size: 2.5vw;}

    /* section4 more */
    #section4 {margin-bottom: 550vh;}
    #section4 .more_wrap {margin-left: 10%;}
    #section4 .more_arrow { top: 4.3%; left: 4%; width: 7%; height: 11.5%;}
    #section4 .more_item .more_descwrap .more_subtitle {top: 12%; right: 8%;}
    #section4 .more_item .more_descwrap .more_desc {top: 54%; right: -41%; font-size: 1.4vw;}
    
    #section4 .more_item:nth-child(2) .more_descwrap .more_desc { top: 57%; right: -45%;}
    #section4 .more_item:nth-child(3) .more_descwrap .more_desc { top: 58%; right: -46%;}
    #section4 .more_item:nth-child(4) .more_descwrap .more_desc { top: 58%; right: -47%;}
    #section4 .more_item:nth-child(5) .more_descwrap .more_desc { top: 50%; right: -35%;}
    #section4 .more_item:nth-child(6) .more_descwrap .more_desc { top: 51%; right: -36%;}
    #section4 .more_item:nth-child(7) .more_descwrap .more_desc { top: 50%; right: -35%;}
    #section4 .more_item:nth-child(8) .more_descwrap .more_desc { top: 50%; right: -35%;}
    #section4 .more_item:nth-child(9) .more_descwrap .more_desc { top: 50%; right: -35%;}
    #section4 .more_item:nth-child(10) .more_descwrap .more_desc { top: 50%; right: -35%;}
    
    #section4 .more_item .more_imgwrap {width: 80%; height: 75%;}

    /* section5 contant */
    .contact_wrap {top: 25%;}

}

/* 화면너비 0-768px */
@media (max-width: 768px){
    /* nav */
    nav {display: none;}
    nav ul {display: none;}
    .small_nav {
        display: block;
        width: 100%; height: 8%;
        position: fixed; top: -20%; 
        z-index: 2000;
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: space-between;
        transition: all 0.8s;
    }
    .small_nav.active {top: 0%;}
    .small_nav .logo {
        position: relative; z-index: 2000;
        width: 30px; height: 30px;
        margin: 10px;
        font-size: 1.8rem;
        text-align: center; line-height: 30px;
        border: 1px solid #333;
    }
    .small_nav .ham {
        margin: 10px;
        margin-top: 15px;
        display: block;
        position: relative; z-index: 2000;
        width: 3.5%;
        cursor: pointer;
        transition: 0.8s;
    }
    .ham span {
		display: block;
        position: absolute;
		width: 100%; height: 3px; 
		background-color: #333;
        transition: 0.8s;
	}
    .ham span:nth-child(1){top: 0;}
    .ham span:nth-child(2){top: 9px;}
    .ham span:nth-child(3){top: 18px;}
    .small_nav ul {
        position: absolute; left: 0; top: -700%;
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        transition: 1s;
        /* backdrop-filter: blur(8px); */
        background-color: #fff;
    }
    .small_nav ul li {
        padding: 1%;
        box-sizing: border-box;
    }
    .small_nav ul.active {top: 100%;}
    .ham.active span:nth-child(1){position: absolute; top: 9px; transform: rotate(45deg);}
    .ham.active span:nth-child(2){display: none;}
    .ham.active span:nth-child(3){position: absolute; top: 9px; transform: rotate(-45deg);}

    /* section1 intro  */
    #section1 span.intro_TRL {top: -81%; }
    #section1 span.intro_RTB {bottom: -23%; right: -23%;}
    #section1 span.intro_BLR {bottom: -82%;}
    #section1 span.intro_LTB {top: -23.5%;}

    /* section2 about me */
    #section2 {width: 100%; top: 80%;}
    #section2 .about_container {width: 100%; position: absolute; top: 55%;}
    #section2 .about_title {
        top: 5%; left: 2.5%;
        font-size: 22vw;
    }
    #section2 .about_wrap{
        width: 100%; 
        position: absolute; top: 35%; 
        flex-wrap: wrap;
    }
    #section2 .about_wrap .about_item {
        width: 100%;
        margin-left: 0;
        padding: 1%;
    }
    #section2 .about_wrap .about_item:nth-child(1) .about_img {width: 60%; height: 70%; left: 5%;}
    #section2 .about_wrap .about_item:nth-child(2) .about_img {width: 65%; height: 70%; bottom: 5%;}
    #section2 .about_wrap .about_item:nth-child(3) .about_img {width: 50%; height: 75%; right: 0%;}
    #section2 .about_item:nth-child(1) .about_desc { top: 50%; left: 36%; }
    #section2 .about_item:nth-child(2) .about_desc { top: 13%; left: -18%;}
    #section2 .about_item:nth-child(3) .about_desc { bottom: 11%; left: 4%;}
    #section2 .skill_title {margin-top: -1%;}
    .about_item .about_imgWrap {
        transform: translateY(15%);
        transition: all 0.8s cubic-bezier(0, 0.66, 0.38, 1.01);
    }
    .about_item .about_desc{
        transform: translateY(10%);
        transition: all 1s cubic-bezier(0, 0.66, 0.38, 1.01);
    }

    /* section3 work */
    #section3 .work_title {width: 15vw; left: 0%; font-size: 16vw; line-height: 16vw;}
    #section3 .work_wrap {width: 88%;}
    #section3 .work_wrap .work_item {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    #section3 .work_wrap .work_item:nth-child(odd) {flex-direction: column;}
    #section3 .work_item .work_imgwrap {
        width: 75%; height: 65%;
        position: absolute; right: 0;
    }
    #section3 .work_item .work_descwrap {width: 100%; height: 30%;}
    #section3 .work_wrap .work_item:nth-child(odd) .work_descwrap { text-align: left;}
    #section3 .work_item .work_descwrap .work_subtitle {position: relative; top: 40%; left: 3%; font-size: 6vw;}
    #section3 .work_item .work_descwrap .work_subtitle span {font-size: 28vw;}
    #section3 .work_item:nth-child(3) .work_descwrap .work_subtitle {margin-top: 10%;}
    #section3 .work_item .work_descwrap .work_desc {
        margin-top: 0%; width: 77%;
        font-size: 2.5vw;
        margin-top: -3%;
        margin-left: 24%; 
        margin-bottom: -1%;
        word-break: keep-all;   
    }
    #section3 .work_item:nth-child(3) .work_descwrap .work_desc {margin-bottom: -5%;}
    #section3 .work_item .work_descwrap .view_site {margin-left: 3%; top: -29%; font-size: 3vw;}

    /* section4 more*/
    #section4 {
        width: 100%;
        margin-left: 0%;
        margin-bottom: 320vh;
    }
    #section4 .more_wrap {
        width: 100%; height: 100%;
        margin-left: 0%;
        margin-top: 20%;
    }
    #section4 .more_wrap.fixed {position: absolute;}
    #section4 .more_arrow{
        top: 88.3%; left: 0%;
        width: 8%; height: 39.5%;
    }
    #section4 .more_wrap.fixed .more_arrow {position: absolute;}
    #section4 .more_title{
        top: 63%; left: 8.5%;
        font-size: 12vw;
    }
    #section4 .more_wrap.fixed .more_title{position: absolute;}
    #section4 .more_container{
        flex-wrap: wrap;
        left: 0%;
    }
    #section4 .more_item {width: 50%; height: 100%;}
    #section4 .more_item .more_descwrap .more_subtitle{ top: 13%; right: 19%; font-size: 5vw;}
    #section4 .more_item .more_descwrap .more_desc{
        font-size: 2vw;
        top: 56%; right: -24%;
    }
    #section4 .more_item:nth-child(2) .more_descwrap .more_desc { top: 59%; right: -27%;}
    #section4 .more_item:nth-child(3) .more_descwrap .more_desc { top: 60%; right: -28%;}
    #section4 .more_item:nth-child(4) .more_descwrap .more_desc { top: 60%; right: -29%;}
    #section4 .more_item:nth-child(5) .more_descwrap .more_desc { top: 52%; right: -19%;}
    #section4 .more_item:nth-child(6) .more_descwrap .more_desc { top: 52%; right: -19%;}
    #section4 .more_item:nth-child(7) .more_descwrap .more_desc { top: 52%; right: -19%;}
    #section4 .more_item:nth-child(8) .more_descwrap .more_desc { top: 52%; right: -19%;}
    #section4 .more_item:nth-child(9) .more_descwrap .more_desc { top: 52%; right: -19%;}
    #section4 .more_item:nth-child(10) .more_descwrap .more_desc { top: 52%; right: -19%;}
    #section4 .more_item .more_imgwrap{width: 70%;}
    #section4 .more_item:nth-child(4) .more_imgwrap .more_view{background-size: 335px;}

    /* section5 contact */
    .contact_wrap{ top: 30%;}

}

/* 화면너비 0-600px */
@media (max-width: 600px){
    /* nav */
    .small_nav .ham {width: 4.5%;}
    
    /* section1 intro*/
    #section1 span {font-size: 4vw;}
    #section1 span.intro_TRL {top: -81%;}
    #section1 span.intro_RTB {bottom: -22.5%; right: -31%;}
    #section1 span.intro_RTB {bottom: -21%;}
    #section1 span.intro_LTB {top: -21.5%; left: -31%;}

    /* section2 about me*/
    #section2{margin-bottom: 310vh;}
    #section2 .about_title {left: 3.5%;}
    #section2 .about_wrap .about_item {height: 70%;}
    #section2 .about_wrap .about_item:last-child { height: 100%;}
    #section2 .about_wrap .about_item:nth-child(1) .about_img {
        width: 70%;height: 90%;
        left: 0%;
    }
    #section2 .about_wrap .about_item:nth-child(2) .about_img {
        width: 68%; height: 85%;
        right: 5%; bottom: 0%;
    }
    #section2 .about_wrap .about_item:nth-child(3) .about_img {
        width: 56%; height: 94%;
    }
    #section2 .about_wrap .about_item .about_desc { font-size: 1.4rem;}
    #section2 .about_item:nth-child(1) .about_desc {top: 63%; left: 35%;}
    #section2 .about_item:nth-child(2) .about_desc {top: 16%; left: -16%;}
    #section2 .about_item:nth-child(3) .about_desc {bottom: 13%; left: 3%;}
    #section2 .about_item .about_desc span {text-indent: 0%;}
    
    /* section3 work */
    #section3 .work_item .work_descwrap .work_subtitle {font-size: 7vw;}
    #section3 .work_item .work_descwrap .work_subtitle span {font-size: 29vw;}
    #section3 .work_item:nth-child(3) .work_descwrap .work_subtitle {margin-top: 14%;}
    #section3 .work_item .work_descwrap .work_desc { margin-left: 26%; font-size: 3vw; margin-top: 0%;}
    #section3 .work_item .work_descwrap .view_site {font-size: 3vw; top: -29%;}
    #section3 .work_item:nth-child(3) .work_descwrap .view_site {top: -33%;}

    /* section4 more */
    #section4 {margin-bottom: 270vh;}
    #section4 .more_wrap {opacity: 1; margin-top: -10%;}
    #section4 .more_title {font-size: 13vw; top: 63%; left: 9.5%;}
    #section4 .more_arrow {width: 9%; height: 35.5%; top: 82.3%;}
    #section4 .more_item {height: 95%;}
    #section4 .more_item .more_descwrap .more_subtitle {font-size: 6vw; top: 12%; right: 11%;}
    #section4 .more_item .more_descwrap .more_desc {
        font-size: 2.4vw;
        top: 57%; right: -39%;
    }
    #section4 .more_item:nth-child(2) .more_descwrap .more_desc { top: 59%; right: -43%;}
    #section4 .more_item:nth-child(3) .more_descwrap .more_desc { top: 60%; right: -44%;}
    #section4 .more_item:nth-child(4) .more_descwrap .more_desc { top: 61%; right: -45%;}
    #section4 .more_item:nth-child(5) .more_descwrap .more_desc { top: 52%; right: -32%;}
    #section4 .more_item:nth-child(6) .more_descwrap .more_desc { top: 52%; right: -33%;}
    #section4 .more_item:nth-child(7) .more_descwrap .more_desc { top: 52%; right: -33%;}
    #section4 .more_item:nth-child(8) .more_descwrap .more_desc { top: 52%; right: -32%;}
    #section4 .more_item:nth-child(9) .more_descwrap .more_desc { top: 52%; right: -33%;}
    #section4 .more_item:nth-child(10) .more_descwrap .more_desc { top: 52%; right: -33%;}
    #section4 .more_item .more_imgwrap {width: 77%;}
    #section4 .more_item:nth-child(4) .more_imgwrap .more_view {background-size: 280px;}
}

/* 화면너비 0-480px */
@media (max-width: 480px){
    
    /* nav */
    .small_nav .ham {width: 5.5%;}

    /* section1 intro */
    #section1 span.intro_TRL {top: -80%;}
    #section1 span.intro_RTB {bottom: -32%;}
    #section1 span.intro_BLR {bottom: -81%;}
    #section1 span.intro_LTB {top: -32%;}

    /* section2 about me */
    #section2 {height: 250vh; margin-bottom: 200vh;}
    #section2 .about_container {top: 15%;}
    #section2 .about_wrap .about_item {height: 90%;}
    #section2 .about_title {text-align: center; left: 0%; font-size: 32vw;}
    #section2 .about_wrap .about_item .about_imgWrap .about_img {width: 100%;}
    #section2 .about_wrap .about_item:nth-child(1) .about_img {height: 70%; top: 5%;}
    #section2 .about_wrap .about_item:nth-child(2) .about_img {height: 65%; right: 0%;}
    #section2 .about_wrap .about_item:nth-child(3) .about_img {height: 70%;}
    #section2 .about_wrap .about_item .about_desc {text-align: center;}
    #section2 .about_item:nth-child(1) .about_desc {top: 76%; left: 0%;}
    #section2 .about_item:nth-child(2) .about_desc {top: 16%; left: -1%;}
    #section2 .about_item:nth-child(3) .about_desc {left: 0%; bottom: 71%;}
    #section2 .skill li .another .icon {background-size: 70px;}

    /* section3 work */
    #section3 {height: 340vh;}
    #section3 .work_title {width: 23vw; font-size: 30vw; line-height: 24vw; color: #eee;}
    #section3 .work_item .work_imgwrap {width: 88%; height: 65%;}
    #section3 .work_item:nth-child(1) .work_imgwrap .work_img {background-size: 380px;}
    #section3 .work_item .work_descwrap .work_subtitle {font-size: 7.7vw; left: -15%; top: 75%;}
    #section3 .work_item .work_descwrap .work_subtitle span {font-size: 36vw;}
    #section3 .work_item .work_descwrap .work_desc {margin-left: 13%; margin-top: 14%; font-size: 4vw; width: 82%;}
    #section3 .work_item .work_descwrap .view_site {top: 12%; margin-left: 69%; font-size: 4vw;}
    #section3 .work_item:nth-child(3) .work_descwrap .view_site { top: 20%;}

    /* section4 more */
    #section4 {height: 500vh; margin-bottom: 280vh;}
    #section4 .more_wrap {margin-top: 30%;}
    #section4 .more_container {height: 100%;}
    #section4 .more_arrow { width: 10%; height: 6%; top: -11.8%; left: 3%;}
    #section4 .more_title {font-size: 14vw; left: 14.5%; top: -15%;}
    #section4 .more_item {width: 100%; height: 15%;}
    #section4 .more_item .more_descwrap .more_subtitle {font-size: 9vw; top: 10%; right: 6%;}
    #section4 .more_item .more_descwrap .more_desc {font-size: 4vw; top: 48%; right: -19%;}
    #section4 .more_item:nth-child(2) .more_descwrap .more_desc {top: 52%; right: -22%;}
    #section4 .more_item:nth-child(3) .more_descwrap .more_desc {top: 53%; right: -23%;}
    #section4 .more_item:nth-child(4) .more_descwrap .more_desc {top: 53%; right: -24%;}
    #section4 .more_item:nth-child(5) .more_descwrap .more_desc {top: 43%; right: -14%;}
    #section4 .more_item:nth-child(6) .more_descwrap .more_desc {top: 44%; right: -15%;}
    #section4 .more_item:nth-child(7) .more_descwrap .more_desc {top: 44%; right: -15%;}
    #section4 .more_item:nth-child(8) .more_descwrap .more_desc {top: 43%; right: -14%;}
    #section4 .more_item:nth-child(9) .more_descwrap .more_desc {top: 43%; right: -14%;}
    #section4 .more_item:nth-child(10) .more_descwrap .more_desc {top: 43%; right: -15%;}
    #section4 .more_item .more_imgwrap {width: 65%; height: 88%;}

    /* section5 contact */
    .contact_wrap {top: 35%;} 


}

/* 화면너비 0-320px */
@media (max-width: 320px){
    
    /* nav */
    .small_nav .ham {width: 7.5%;}
    
    /* section1  intro*/
    #section1 span {font-size: 4.3vw;}
    #section1 span.intro_TRL {top: -78%;}
    #section1 span.intro_RTB {bottom: -39%; right: -33%;}
    #section1 span.intro_BLR {bottom: -78%;}
    #section1 span.intro_LTB {top: -39%; left: -33%;}

    /* section2 about me */
    #section2 .about_title {font-size: 34vw;}
    #section2 .about_wrap .about_item:last-child {margin-top: 10%;}
    #section2 .skill li .another {height: 90px;}
    #section2 .skill li p {font-size: 4rem;}
    #section2 .skill li .another .icon {width: 60px; height: 60px; background-size: 50px;}
    
    /* section3 work*/
    #section3 .work_title { font-size: 28vw;}
    #section3 .work_wrap {width: 100%;}
    #section3 .work_item .work_imgwrap {width: 77%; height: 50%;}
    #section3 .work_item:nth-child(1) .work_imgwrap .work_img {background-size: 260px;}
    #section3 .work_item:nth-child(2) .work_imgwrap .work_img {background-size: 320px;}
    #section3 .work_item .work_descwrap .work_subtitle {font-size: 8.5vw; left: -1%; top: 80%;}
    /* #section3 .work_item .work_descwrap .work_subtitle span { font-size: ;} */
    #section3 .work_item .work_descwrap .work_desc { font-size: 5vw; margin-left: 24%; margin-top: 29%;}
    #section3 .work_item .work_descwrap .view_site {font-size: 5.2vw;}

    /* section4 more*/
    #section4 {margin-bottom: 20vh;}
    #section4 .more_arrow {height: 4%; top: -12.9%;}
    #section4 .more_item {height: 10%;}
    #section4 .more_item:nth-child(4) .more_imgwrap .more_view {background-size: 250px;}

}